body {
    position: relative;
    display: flex;
    flex-direction: row;
    background: #000;
    color:#ffffff;
    font-family: monospace;
    text-align: center;
}

#title {
    color: black;
    background: grey;
}

#time-controls{
    display: flex;
    flex-direction: row;
    align-items: space-around;
    padding: 25px;
    margin: auto;
    font-size: 30px;
}

#countdown {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #009900;
    color: #fff;
    font-weight: bolder;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    font-size: 60px;
}

#work-time, #break-time {
    display: flex;
    flex-direction: column;
}

button {
    background: none;
    border: none;
    font-size: 28px;
    padding: 4px;
}

#reset {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 24px;
}
